.works_container h2,
.wwd_container h2,
.kos_container h2 {
    font-size: 50px;
}

.works_content p{
    font-size: 20px;
    line-height: 35px;
}

.works_container p {
    margin-left: 20px;
    font-size: 24px;
}


