/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7); /* Slightly transparent black */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5); /* Softer on hover */
}

/* Global Font */
body {
  font-family: "Nunito", sans-serif;
}

/* Responsive Padding */
@media only screen and (max-width: 991px) {
  .s_c {
    padding: 0px;
  }
}


