:root {
  --gold_color: #F7C873;
  --font-size: 16px;
}





/* Global Font */
body {
  font-family: "Nunito", sans-serif;
}

/* Responsive Padding */
@media only screen and (max-width: 991px) {
  .s_c {
    padding: 0px;
  }
}


