.contact-form-container {
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    padding: 20px 60px;
    background: black;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  /* .contact-form button:hover {
    background: #333;
  }
   */